








header {
	font-size: 25px;
	text-align: center;
	padding:15px 0;
	background-color: gray; 
}

body {
	font-size: 20x;
	text-align: center;
}
nav {
		font-family: Georgia, "Times New Roman", serif;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center;
		margin-top: -1.5em;
}

/* Style specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color:#9D9D93;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em; 
}

/* Style changes navigation link text color to white and removes the underline */ 
nav li a {
	color: #FFFFFF;
	text-decoration: none; 
}