
body {
  background-color: #f3f0f0ee;
  font-family: Arial, sans-serif;
  margin: 0;
  }
  .box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
    background-color: #9b9cc4;
  }
/* Center the header */
h1 {
  font-size: 36px;
  text-align: center;
  color: #4d4d4d;
  text-shadow: 2px 2px #e6e6e6;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  background-image: url(Fish.png), url(Fish.png);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: 100px auto, 100px auto;
  padding: 20px 0 20px 50px;
}




  
  /* Make the unordered list run horizontally */
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    }
  
    nav ul {
      display: flex;
      list-style: none;
      
      margin: 0;
      padding: 0;
      }
      
      nav ul li {
      margin: 0 20px;
      }
      
      nav ul li a {
      color: #fff;
      text-decoration: none;
      }
      
      nav ul li a.active {
      text-decoration: underline;
      }
      hr {
        border: none;
        border-top: 1px solid #0c0c0c;
        margin: 0px 0;
        }
  
  li a:hover {
    background-color: #203ace;
  }
  
  .active {
    background-color: #2228d4;
    color: rgb(10, 221, 236);
  }
  
  /* Center the paragraphs */
  h2, h3,h4 {
    text-align: center;
  }
  
  p {
    padding-left: 40px; /* adjust this value as needed */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  /* Style for the main content */
  main {
    margin-bottom: 80px; /* Make space for the footer */
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

  
  
  /* Add responsive viewports */
  /* For devices with a screen width of 600px or less */
  @media (max-width: 600px) {
    /* Reduce the font size of the header */
    h1 {
      font-size: 24px;
    }
    
    /* Stack the navigation links */
    nav ul {
      flex-direction: column;
    }
    
    nav li {
      margin: 5px 0;
    }
  }
  
  /* For devices with a screen width of 900px or less */
  @media (max-width: 900px) {
    /* Reduce the margin around the navigation links */
    nav li {
      margin: 0 5px;
    }
  }
  