
header {
  font-family: Georgia, "Times New Roman", serif;
  position: relative;
  background-color: black;
  min-height: 10rem;
  font-size: 2em;
  color: #7393B3;
  border-style:solid;
  border-color:gray;
  border-radius: 5em 2em 5em 2em;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}


body {
	font-size: 20x;
	text-align: center;
	background-color: #a99a86;
}
@media only screen and (min-width: 1250px) {

nav {
		font-family: Georgia, "Times New Roman", serif;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center;
		margin-top: -1.5em;
}

/* Style specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.1em;
	margin-bottom: 0.5em;
	overflow: hidden;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color:white;
	border-radius:10em 2em 10em 2em;
    display: inline;
	list-style-type: none;
	margin: 2em;
	padding: 3em; 
}

/* Style changes navigation link text color to white and removes the underline */ 
nav li a {
	color: black;
	text-decoration: none; 
}

nav li a:hover {
  background-color: gray;
}

main {
		display: block;
		font-family: Verdana, Arial, sans-serif;
		font-size: 1em;
		margin-top: .05em;
		padding: 1em;
		border-radius: 2em 0 2em 0;
		background-color: #faf0e6;
		opacity: 0.85;
		
}
}
@media only screen and (min-width: 600px) {

nav {
		display: center;
		font-family: Georgia, "Times New Roman", serif;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center;
		margin-top: -1.5em;
}

/* Style specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.01em;
	margin-bottom: 0.5em;
	overflow: hidden;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color:white;
	border-radius:10em 2em 10em 2em;
	list-style-type: none;
	margin: 2em;
	padding: 3em; 
}

/* Style changes navigation link text color to white and removes the underline */ 
nav li a {
	color: black;
	text-decoration: none; 
}

nav li a:hover {
  background-color: gray;
}

main {
		display: block;
		font-family: Verdana, Arial, sans-serif;
		font-size: 1em;
		margin-top: .05em;
		padding: 1em;
		border-radius: 2em 0 2em 0;
		background-color: #faf0e6;
		opacity: 0.85;
		
}


